@font-face {
  font-family: "antara";
  src: url("/font/AAntaraDistance-OVA2e.ttf");
}
body, html {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: "Microsoft JhengHei";
}

.header {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: block;
}
.header .nav {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  height: 50px;
  width: 100%;
  z-index: 999;
  transition: 0.5s;
  box-sizing: border-box;
}
@media screen and (max-width: 500px) {
  .header .nav {
    padding: 0 30px;
  }
}
.header .nav_bgcolor {
  background-color: #FFBB77;
}
.header .nav-logo {
  width: 100px;
  padding: 13px 0;
}
.header .nav-logo__name {
  font-family: "antara";
  font-size: 35px;
  color: #fff;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
}
.header .nav-list {
  height: 100%;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1200px) {
  .header .nav-list {
    justify-content: flex-end;
  }
}
.header .nav-list__option {
  margin: 0 20px;
  position: relative;
  cursor: pointer;
  color: #fff;
  text-shadow: black 0.1em 0.1em 0.2em;
}
@media screen and (max-width: 1200px) {
  .header .nav-list__option {
    display: none;
  }
}
.header .nav-list__option::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: #000;
  transform: scalex(0);
  transition: all 0.3s ease;
}
.header .nav-list__option:hover::before {
  transform: scalex(1);
}
.header .nav-list__option_none {
  width: 30px;
  height: 30px;
  display: none;
  margin: 0;
}
@media screen and (max-width: 1200px) {
  .header .nav-list__option_none {
    display: block;
  }
}
.header .nav-list__option-menu {
  width: 30px;
  height: 30px;
}
.header .nav-list__option-menu img {
  width: 30px;
  height: 30px;
}
.header .nav-menu {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.6s;
}
.header .nav-menu_show {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
}
.header .nav-menu_show .nav-menu__list {
  right: 0;
}
.header .nav-menu__name {
  font-family: "antara";
  font-size: 60px;
}
.header .nav-menu__list {
  width: 200px;
  height: 100%;
  background-color: #FFBB77;
  text-align: center;
  padding-top: 50px;
  position: fixed;
}
@media screen and (max-width: 500px) {
  .header .nav-menu__list {
    width: 100%;
  }
}
.header .nav-menu__close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.header .nav-menu__close img {
  width: 30px;
  height: 30px;
}
.header .nav-menu__option {
  cursor: pointer;
  color: #000;
  padding-top: 20px;
}
.header .nav-menu__option_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .nav-menu__option_flex a {
  width: 30px;
  height: 30px;
  padding: 0 10px;
}
.header .nav-menu__option_flex a img {
  width: 30px;
  height: 30px;
}
.header .fullscreen {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.header .fullscreen-start {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
  transition: 0.2s;
  animation: close 0.3s linear 1 both;
  animation-delay: 3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .fullscreen-start::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: start 1s linear 1 both;
  animation-timing-function: ease-in;
  background-color: #FFBB77;
}
.header .fullscreen-start__txt {
  color: #fff;
  font-size: 20px;
  z-index: 1;
}
.header .fullscreen-sliders {
  width: 100%;
  height: 100%;
  background-color: #9e9e9e;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
}
.header .fullscreen-sliders__option {
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: 0.6s;
  display: flex;
  justify-content: center;
}
.header .fullscreen-sliders__option_show {
  opacity: 2;
}
.header .fullscreen-sliders__option_show .fullscreen-sliders__textbox {
  opacity: 2;
}
.header .fullscreen-sliders__option img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  max-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 500px) {
  .header .fullscreen-sliders__option img {
    background-attachment: initial;
  }
}
.header .fullscreen-sliders .img-1 {
  background-image: url(../images/life/LINE_ALBUM_230217_0.jpg);
}
.header .fullscreen-sliders .img-2 {
  background-image: url(../images/life/IMG_9527.jpg);
}
.header .fullscreen-sliders__textbox {
  position: absolute;
  top: 25%;
  opacity: 0;
  transition: 0.6s;
  text-align: center;
}
.header .fullscreen-sliders__textbox-txt {
  font-family: "antara";
  color: #fff;
  font-size: 150px;
  padding-bottom: 10px;
  transform: rotate(-20deg);
  text-shadow: black 0.1em 0.1em 0.2em;
}
@media screen and (max-width: 900px) {
  .header .fullscreen-sliders__textbox-txt {
    font-size: 100px;
  }
}
.header .fullscreen-sliders__textbox-txt_bold {
  font-weight: bold;
}
.header .down-icon {
  width: 100%;
  position: absolute;
  bottom: 3%;
  z-index: 3;
}
.header .down-icon__box {
  display: block;
  width: 40px;
  height: 40px;
  margin: auto;
  cursor: pointer;
  background-image: url(../images/icons/download-white.svg);
  background-position: center;
  background-size: cover;
  transform: translateX(-50%);
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-name: bounce;
  transform-origin: center bottom;
}

.body {
  width: 100%;
  position: relative;
}
.body .about {
  position: relative;
  padding: 50px 100px;
  width: 100%;
  box-sizing: border-box;
}
@media screen and (max-width: 900px) {
  .body .about {
    padding: 30px;
  }
}
.body .about_show .about__box-content {
  opacity: 1;
}
.body .about_show .about__box-img {
  opacity: 1;
}
.body .about__box {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .body .about__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.body .about__box-content {
  display: block;
  opacity: 0;
  transition: 0.6s;
}
.body .about__box-content-title {
  color: #000;
  font-size: 30px;
  font-weight: bold;
}
.body .about__box-content-txt {
  padding: 30px;
  line-height: 25px;
}
.body .about__box-content-data {
  margin-top: 15px;
}
.body .about__box-content-data-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.body .about__box-content-data-item p:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
}
.body .about__box-content-data-item p:nth-child(2) {
  margin-left: 5px;
}
.body .about__box-img {
  position: relative;
  display: block;
  opacity: 0;
  transition: 0.6s;
  width: 300px;
  height: 400px;
  margin: 20px;
}
.body .about__box-img:before {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  right: -28px;
  top: -28px;
  border: 6px solid #FFBB77;
  opacity: 0.5;
}
.body .about__box-img:after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  left: -28px;
  bottom: -28px;
  border: 6px solid #FFBB77;
  opacity: 0.5;
}
.body .about__box-img img {
  width: 300px;
  height: 400px;
}
.body .experience {
  padding: 50px 100px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
@media screen and (max-width: 900px) {
  .body .experience {
    padding: 50px;
  }
}
.body .experience_show .experience__box-content {
  opacity: 1;
}
.body .experience_show .experience__box-img {
  opacity: 1;
}
.body .experience__box {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .body .experience__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.body .experience__box-content {
  display: block;
  right: 50px;
  opacity: 0;
  padding-left: 50px;
  transition: 0.6s;
}
@media screen and (max-width: 1200px) {
  .body .experience__box-content {
    padding: 0;
    margin-top: 50px;
  }
}
.body .experience__box-content-title {
  color: #000;
  font-size: 40px;
  font-weight: bold;
}
.body .experience__box-content-title_little {
  font-size: 20px;
  line-height: 20px;
  padding: 20px 0;
}
.body .experience__box-content-txt {
  line-height: 25px;
  display: block;
}
.body .experience__box-content-txt_title {
  font-weight: bold;
  font-size: 20px;
  padding: 10px 0;
}
.body .experience__box-content-txt_left {
  padding: 10px 25px;
}
.body .experience__box-content-list {
  padding: 0 20px;
}
.body .experience__box-img {
  display: block;
  position: relative;
  opacity: 0;
  width: 400px;
  transition: 0.6s;
}
@media screen and (max-width: 500px) {
  .body .experience__box-img {
    width: 300px;
    height: 300px;
  }
}
.body .experience__box-img:before {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  right: -28px;
  top: -28px;
  border: 6px solid #FFBB77;
  opacity: 0.5;
}
.body .experience__box-img:after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  left: -28px;
  bottom: -28px;
  border: 6px solid #FFBB77;
  opacity: 0.5;
}
.body .experience__box-img img {
  width: 400px;
}
@media screen and (max-width: 500px) {
  .body .experience__box-img img {
    width: 300px;
  }
}
.body .experience__box-txt {
  font-size: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-right: 45px;
  width: 100%;
}
.body .experience__box-txt_left {
  padding-left: 48px;
}
.body .experience__box-txt-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.body .experience__box-txt-item-p {
  margin-right: 5px;
}
.body .experience__box-txt-item p {
  line-height: 30px;
}
.body .experience__box-txt-item p:nth-child(2) {
  width: 85%;
}
.body .skill {
  width: 100%;
  position: relative;
  background-color: #BDC0BA;
  padding: 100px 0;
}
.body .skill .particles {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.body .skill__list {
  margin-top: 20px;
  padding: 0 50px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
@media screen and (max-width: 1200px) {
  .body .skill__list {
    display: flex;
  }
}
.body .skill__list-icon {
  padding: 20px 20px;
  width: 80px;
  height: 80px;
}
.body .skill__list-icon img {
  width: 80px;
  height: 80px;
}
.body .skill .regular {
  width: 50%;
  z-index: 10;
  margin: 50px auto !important;
}
.body .skill .slick-track {
  padding-bottom: 30px;
}
.body .skill .slick-slide {
  margin: 0px 20px;
}
.body .skill .slick-slide img {
  width: 100%;
}
.body .skill .slick-prev:before,
.body .skill .slick-next:before {
  color: black;
}
.body .skill .slick-slide {
  transition: all ease-in-out 0.3s;
  opacity: 0.2;
}
.body .skill .slick-active {
  opacity: 1 !important;
}
.body .skill .slick-current {
  opacity: 1;
}
.body .skill__photo-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 20px 0;
}
.body .works {
  position: relative;
  margin: 60px 0;
  padding: 0 50px;
}
.body .works-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.body .works-list::before {
  display: table;
}
.body .works-list-box {
  background: #fff;
  border-bottom: 2px solid #FFBB77;
  position: relative;
  width: 500px;
  margin: 0 20px;
  margin-bottom: 40px;
  text-decoration: none;
}
@media screen and (max-width: 500px) {
  .body .works-list-box {
    width: 300px;
  }
}
.body .works-list-box .works-list-item {
  color: #000;
}
.body .works-list-box .works-list-item .default {
  position: relative;
  z-index: 10;
  overflow: hidden;
}
.body .works-list-box .works-list-item .default img {
  line-height: 1;
  font-size: 0;
  height: 300px;
  width: 500px;
  transform: scale(1, 1);
  transition: all 1s ease-out;
}
@media screen and (max-width: 500px) {
  .body .works-list-box .works-list-item .default img {
    width: 300px;
    height: 200px;
  }
}
.body .works-list-box .works-list-item .text-box {
  width: calc(100% - 20px);
  padding: 10px;
}
.body .works-list-box .works-list-item .text-box-content {
  font-size: 20px;
  padding: 20px 0;
}
.body .works-list-box .works-list-item .text-box-txt {
  font-size: 15px;
  color: #FFBB77;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: inherit;
}
.body .works-list-box:hover .works-list-item .default img {
  transform: scale(1.2, 1.2);
}
.body .works .all-btn {
  display: inline-block;
  text-align: center;
  padding: 10px;
  position: absolute;
  top: -10px;
  right: 100px;
}
@media screen and (max-width: 500px) {
  .body .works .all-btn {
    right: 50px;
  }
}
.body .works .all-btn:after {
  content: "";
  position: absolute;
  width: 20%;
  height: 2px;
  left: 50%;
  bottom: 10px;
  margin-left: -10%;
  transform: scaleX(0);
  transition-delay: 0.3s;
  background: #1e1109;
  transition: all 0.3s ease;
}
.body .works .all-btn div {
  display: inline-block;
  position: relative;
  transition: all 0.3s ease;
}
.body .works .all-btn div:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  width: 2px;
  height: 100%;
  transition: all 0.3s ease;
}
.body .works .all-btn div:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  width: 100%;
  height: 2px;
  transition: all 0.3s ease;
}
.body .works .all-btn div span {
  padding: 5px 15px;
  z-index: 1;
  position: relative;
  display: inline-block;
}
.body .works .all-btn div span:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  background: #000;
  width: 2px;
  height: 100%;
  transition: all 0.3s ease;
}
.body .works .all-btn div span:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  background: #000;
  width: 100%;
  height: 2px;
  transition: all 0.3s ease;
}
.body .works .all-btn:hover:after {
  transition-delay: 0.3s;
}
.body .works .all-btn:hover div:before, .body .works .all-btn:hover span:before {
  animation: testHeightBorder 0.5s ease;
  height: 0%;
}
.body .works .all-btn:hover div:after, .body .works .all-btn:hover span:after {
  animation: testWidthBorder 0.5s ease;
  width: 0%;
}
.body .email {
  width: calc(100% - 200px);
  height: 300px;
  position: relative;
  background-color: #BDC0BA;
  padding: 100px 100px;
  background-image: url(../images/travel-adventure_75PYASX6U1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.body .email__box {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0;
  box-sizing: border-box;
}
.body .email__box-input {
  width: 40%;
  height: 40px;
  font-size: 15px;
  padding: 0 10px;
  box-sizing: border-box;
}
.body .email__box-input_right {
  margin-right: 50px;
}
.body .email__box-input_error {
  border: 1px solid red;
}
.body .email__box-textbox {
  margin-top: 30px;
  width: calc(80% + 50px);
  height: 100px;
  box-sizing: border-box;
  padding: 10px;
  font-size: 15px;
  font-family: "Microsoft JhengHei";
}
.body .email__box-textbox_error {
  border: 1px solid red;
}
.body .email__button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body .email__button input[type=button] {
  width: 100px;
  height: 50px;
  border: 0px;
  border-radius: 6px;
  background-color: #FFBB77;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.footer {
  width: calc(100% - 100px);
  background-color: #FFBB77;
  padding: 50px 50px;
}
.footer-title {
  font-size: 30px;
  color: #FFFFFB;
}
.footer-list {
  display: block;
  width: 100%;
  margin-top: 50px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 500px) {
  .footer-list {
    justify-content: center;
  }
}
.footer-router {
  display: block;
  width: calc(25% - 80px);
  min-width: 220px;
  height: 100px;
  margin: 10px 30px;
  background-color: #fff;
  padding: 0 5px;
}
.footer-router_fb {
  border: 5px solid #3b5998;
}
.footer-router_fb .footer-router__txt {
  color: #3b5998;
}
.footer-router_ig {
  background: linear-gradient(right, #405DE6, #C13584);
  padding: 5px;
  width: calc(25% - 70px);
  min-width: 230px;
}
.footer-router_ig .footer-router__box {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  padding: 5px;
  background-color: #fff;
}
.footer-router_ig .footer-router__txt {
  color: #C13584;
}
.footer-router_git {
  border: 5px solid #000;
}
.footer-router_git .footer-router__txt {
  color: #000;
}
.footer-router_gmail {
  border: 5px solid #EA2D00;
}
.footer-router_gmail .footer-router__txt {
  color: #EA2D00;
}
.footer-router__box {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-router__icon {
  width: 30px;
  height: 30px;
}
.footer-router__item {
  text-align: left;
  padding: 0 10px;
}
.footer-router__txt {
  font-size: 25px;
}
.footer-router__txt_little {
  font-size: 10px;
  color: #000;
}

.title {
  display: block;
  padding: 0 20px 20px 20px;
  position: relative;
  height: 70px;
}
.title__txt {
  font-size: 15px;
  text-align: center;
  padding-bottom: 10px;
  font-family: "antara";
}
.title__txt_big {
  font-size: 35px;
  letter-spacing: 3px;
}
.title__txt_big:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 3px;
  left: 50%;
  margin-left: -30px;
  background: #FFBB77;
}
.title__txt_big:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 3px;
  right: 50%;
  margin-right: -30px;
  background: #00AA90;
}
.title__txt_en-big {
  font-size: 60px;
}
.title__txt_border:before {
  left: auto;
  top: -25px;
}
.title__txt_border:after {
  right: auto;
}

@keyframes testHeightBorder {
  from {
    height: 100%;
  }
  to {
    height: 0;
  }
}
@keyframes testWidthBorder {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    transform: translate3d(0, -4px, 0);
  }
}
@keyframes start {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
@keyframes close {
  from {
    opacity: 1;
    z-index: 999;
  }
  to {
    opacity: 0;
    z-index: 1;
  }
}/*# sourceMappingURL=creation.css.map */