@import "./public-flex.scss";
@import "./screen.scss";

@font-face {
  font-family: 'antara';
  src: url('/font/AAntaraDistance-OVA2e.ttf');
}

body, html {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: 'Microsoft JhengHei' ;
}

.header {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: block;

  .nav {
    position: fixed;
    top: 0;
    @include flex-jc-between;
    padding: 0 100px;
    height: 50px;
    width: 100%;
    z-index: 999;
    transition: .5s;
    box-sizing: border-box;
    @include screen(mobile) {
      padding: 0 30px;
    }

    &_bgcolor {
      background-color: #FFBB77;
    }

    &-logo {
      width: 100px;
      padding: 13px 0;

      &__name {
        font-family: 'antara';
        font-size: 35px;
        color: #fff;
        font-weight: bold;
        text-shadow: black 0.1em 0.1em 0.2em;
      }
    }

    &-list {
      height: 100%;
      width: 320px;
      @include flex-jc-between;
      @include screen(laptop) {
        justify-content: flex-end;
      }

      &__option {
        margin: 0 20px;
        position: relative;
        cursor: pointer;
        color: #fff;
        text-shadow: black 0.1em 0.1em 0.2em;
        @include screen(laptop) {
          display: none;
        };
  
        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: -5px;
          width: 100%;
          height: 1px;
          background-color: #000;
          transform: scalex(0);
          transition: all .3s ease;
        }
  
        &:hover {
          &::before {
            transform: scalex(1);
          }
        }
  
        &_none {
          width: 30px;
          height: 30px;
          display: none;
          margin: 0;
          @include screen(laptop) {
            display: block;
          }
        }
  
        &-menu {
          width: 30px;
          height: 30px;
  
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }

    &-menu {
      width: 100%;
      height: 100%;
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      transition: .6s;

      &_show {
        display: block;
        background-color: rgba(000,000,000,.8);

        .nav-menu__list {
          right: 0;
        }
      }

      &__name {
        font-family: 'antara';
        font-size: 60px;
      }

      &__list {
        width: 200px;
        height: 100%;
        background-color: #FFBB77;
        text-align: center;
        padding-top: 50px;
        position: fixed;
        
        @include screen(mobile) {
          width: 100%;
        }
      }

      &__close {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 5px;
        left: 5px;

        img {
          width: 30px;
          height: 30px;
        }
      }

      &__option {
        cursor: pointer;
        color: #000;
        padding-top: 20px;

        &_flex {
          @include flex-c;
          a{
            width: 30px;
            height: 30px;
            padding: 0 10px;
            img {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }

  .fullscreen {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    &-start {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 999;
      background-color: #fff;
      transition: .2s;
      animation: close .3s linear 1 both;
      animation-delay: 3s;
      @include flex-c;
  
      &::before {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        animation: start 1s linear 1 both;
        animation-timing-function: ease-in;
        background-color: #FFBB77;
      }
  
      &__txt {
        color: #fff;
        font-size: 20px;
        z-index: 1;
      }
    }

    &-sliders {
      width: 100%;
      height: 100%;
      background-color: #9e9e9e;
      margin: 0;
      position: absolute;
      top: 0;
      bottom: 0;
  
      &__option {
        opacity: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        transition: .6s;
        @include flex-jc-c;
  
        &_show {
          opacity: 2;
  
          .fullscreen-sliders__textbox {
            opacity: 2;
          }
        }
  
        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          bottom: 0;
          max-height: 100%;
          background-attachment: fixed;
          background-position: center;
          background-size: cover;

          @include screen(mobile) {
            background-attachment: initial;
          }
        }
      }
  
      .img-1 {
        background-image: url(../images/life/LINE_ALBUM_230217_0.jpg);
      }
  
      .img-2 {
        background-image: url(../images/life/IMG_9527.jpg);
      }
  
      &__textbox {
        position: absolute;
        top: 25%;
        opacity: 0;
        transition: .6s;
        text-align: center;

        &-txt {
          font-family: 'antara';
          color: #fff;
          font-size: 150px;
          padding-bottom: 10px;
          transform: rotate(-20deg);
          text-shadow: black 0.1em 0.1em 0.2em;
          @include screen(pad) {
            font-size: 100px;
          }
    
          &_bold {
            font-weight: bold;
          }
        }
      }
    }
  }

  .down-icon {
    width: 100%;
    position: absolute;
    bottom: 3%;
    z-index: 3;

    &__box {
      display: block;
      width: 40px;
      height: 40px;
      margin: auto;
      cursor: pointer;
      background-image: url(../images/icons/download-white.svg);
      background-position: center;
      background-size: cover;
      transform: translateX(-50%);
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-fill-mode: both;
      animation-name: bounce;
      transform-origin: center bottom;
    }
  }
}

.body {
  width: 100%;
  position: relative;

  .about {
    position: relative;
    padding: 50px 100px;
    width: 100%;
    box-sizing: border-box;

    @include screen(pad) {
      padding: 30px;
    }
  
    &_show {
      .about__box-content {
        opacity: 1;
      }
  
      .about__box-img {
        opacity: 1;
      }
    }

    &__box {
      margin: 20px 0;
      @include flex-c;

      @include screen(laptop) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      &-content {
        display: block;
        opacity: 0;
        transition: .6s;
    
        &-title {
          color: #000;
          font-size: 30px;
          font-weight: bold;
        }
    
        &-txt {
          padding: 30px;
          line-height: 25px;
        }

        &-data {
          margin-top: 15px;
          &-item {
            @include flex-jc-left;
            margin-bottom: 10px;
  
            p {
              &:nth-child(1) {
                font-size: 16px;
                font-weight: bold;
              }
              &:nth-child(2) {
                margin-left: 5px;
              }
            }
          }
        }
      }
    
      &-img {
        position: relative;
        display: block;
        opacity: 0;
        transition: .6s;
        width: 300px;
        height: 400px;
        margin: 20px;
    
        &:before {
          content: "";
          width: 50px;
          height: 50px;
          position: absolute;
          right: -28px;
          top: -28px;
          border: 6px solid #FFBB77;
          opacity: .5;
        }
    
        &:after {
          content: "";
          width: 50px;
          height: 50px;
          position: absolute;
          left: -28px;
          bottom: -28px;
          border: 6px solid #FFBB77;
          opacity: .5;
        }
    
        img {
          width: 300px;
          height: 400px;
        }
      }
    }
  }
  
  .experience {
    padding: 50px 100px;
    width: 100%;
    box-sizing: border-box;
    position: relative;

    @include screen(pad) {
      padding: 50px;
    }
  
    &_show {
      .experience__box-content {
        opacity: 1;
      }
  
      .experience__box-img {
        opacity: 1;
      }
    }

    &__box {
      margin: 30px 0;
      @include flex-c;

      @include screen(laptop) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      &-content {
        display: block;
        right: 50px;
        opacity: 0;
        padding-left: 50px;
        transition: .6s;
        @include screen(laptop) {
          padding: 0;
          margin-top: 50px;
        }
    
        &-title {
          color: #000;
          font-size: 40px;
          font-weight: bold;
    
          &_little {
            font-size: 20px;
            line-height: 20px;
            padding: 20px 0;
          }
        }
    
        &-txt {
          line-height: 25px;
          display: block;
    
          &_title {
            font-weight: bold;
            font-size: 20px;
            padding: 10px 0;
          }
    
          &_left {
            padding: 10px 25px;
          }
        }
    
        &-list {
          padding: 0 20px;
        }
      }
    
      &-img {
        display: block;
        position: relative;
        opacity: 0;
        width: 400px;
        transition: .6s;
        @include screen(mobile) {
          width: 300px;
          height: 300px;
        }

        &:before {
          content: "";
          width: 50px;
          height: 50px;
          position: absolute;
          right: -28px;
          top: -28px;
          border: 6px solid #FFBB77;
          opacity: .5;
        }
    
        &:after {
          content: "";
          width: 50px;
          height: 50px;
          position: absolute;
          left: -28px;
          bottom: -28px;
          border: 6px solid #FFBB77;
          opacity: .5;
        }
    
        img {
          width: 400px;
          @include screen(mobile) {
            width: 300px;
          }
        }
      }
      
      &-txt {
        font-size: 16px;
        @include flex-al-start;
        flex-direction: column;
        margin-right: 45px;
        width: 100%;

        &_left {
          padding-left: 48px;
        }

        &-item {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          width: 100%;

          &-p {
            margin-right: 5px;
          }

          p {
            line-height: 30px;

            &:nth-child(2) {
              width:85%
            }
          }
        }
      }


    }
  }

  .skill {
    width: 100%;
    position: relative;
    background-color: #BDC0BA;
    padding:100px 0;
  
    .particles {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }

    &__list {
      margin-top: 20px;
      padding: 0 50px;
      flex-wrap: wrap;
      @include flex-c;
      display: none;
      @include screen(laptop) {
        display: flex;
      }

      &-icon {
        padding: 20px 20px;
        width: 80px;
        height: 80px;

        img {
          width: 80px;
          height: 80px;   
        }
      }
    }

    .regular {
      width: 50%;
      z-index: 10;
      margin: 50px auto !important;
  
      // @include screen(laptop) {
      //   display: none;
      // }
    }
    
    .slick-track {
      padding-bottom: 30px;
    }
    
    .slick-slide {
      margin: 0px 20px;
    }
    
    .slick-slide img {
      width: 100%;
    }
    
    .slick-prev:before,
    .slick-next:before {
      color: black;
    }
    
    
    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: 1 !important ;
    }
    
    .slick-current {
      opacity: 1;
    }

    &__photo {
      &-title {
        @include flex-c;
        font-size: 30px;
        margin: 20px 0;
      }
    }
  }

  .works {
    position: relative;
    margin: 60px 0;
    padding: 0 50px;
  
    &-list {
      @include flex-c;
      flex-wrap: wrap;
      margin-top: 20px;
  
      &::before {
        display: table;
      }
  
      &-box {
        background: #fff;
        border-bottom: 2px solid #FFBB77;
        position: relative;
        width: 500px;
        margin: 0 20px;
        margin-bottom: 40px;
        text-decoration: none;

        @include screen(mobile) {
          width: 300px;
        }
  
        .works-list-item {
          color: #000;
  
          .default {
            position: relative;
            z-index: 10;
            overflow: hidden;
  
            img {
              line-height: 1;
              font-size: 0;
              height: 300px;
              width: 500px;
              transform:scale(1,1);transition: all 1s ease-out;

              @include screen(mobile) {
                width: 300px;
                height: 200px;
              }
            }
          }
  
          .text-box {
            width: calc(100% - 20px);
            padding: 10px;
  
            &-content {
              font-size: 20px;
              padding: 20px 0;
            }
  
            &-txt {
              font-size: 15px;
              color: #FFBB77;
              line-height: 18px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: inherit;
            }
          }
        }
  
        &:hover {
         .works-list-item {
            .default {
              img {
                transform:scale(1.2,1.2);
              }
            }
          }
        }
      }
    }

    .all-btn {
      display: inline-block;
      text-align: center;
      padding: 10px;
      position: absolute;
      top: -10px;
      right: 100px;
      @include screen(mobile) {
        right: 50px;
      }
    
      &:after {
        content: "";
        position: absolute;
        width: 20%;
        height: 2px;
        left: 50%;
        bottom: 10px;
        margin-left: -10%;
        transform: scaleX(0);
        transition-delay: .3s;
        background: #1e1109;
        transition: all .3s ease;
      }
    
      div {
        display: inline-block;
        position: relative;
        transition: all .3s ease;
    
        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          background: #000;
          width: 2px;
          height: 100%;
          transition: all .3s ease;
        }
    
        &:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          background: #000;
          width: 100%;
          height: 2px;
          transition: all .3s ease;
        }
    
        span {
          padding: 5px 15px;
          z-index: 1;
          position: relative;
          display: inline-block;
    
          &:before {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            background: #000;
            width: 2px;
            height: 100%;
            transition: all .3s ease;
          }
      
          &:after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            background: #000;
            width: 100%;
            height: 2px;
            transition: all .3s ease;
          }
        }
      }
    
      &:hover {
        &:after {
          transition-delay: .3s;
        }
    
        div:before, span:before {
          animation: testHeightBorder 0.5s ease;
          height: 0%;
        }
    
        div:after, span:after {
          animation: testWidthBorder 0.5s ease;
          width: 0%;
        }
      }
    }
  }

  .email {
    width: calc(100% - 200px);
    height: 300px;
    position: relative;
    background-color: #BDC0BA;
    padding:100px 100px;
    background-image: url(../images/travel-adventure_75PYASX6U1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    &__box {
      width: 100%;
      position: relative;
      @include flex-c;
      flex-wrap: wrap;
      padding: 30px 0;
      box-sizing: border-box;

      &-input {
        width: 40%;
        height: 40px;
        font-size: 15px;
        padding: 0 10px;
        box-sizing: border-box;

        &_right {
          margin-right: 50px;
        }

        &_error {
          border: 1px solid red;
        }
      }

      &-textbox {
        margin-top: 30px;
        width: calc(80% + 50px);
        height: 100px;
        box-sizing: border-box;
        padding:10px;
        font-size: 15px;
        font-family: 'Microsoft JhengHei';

        &_error {
          border: 1px solid red;
        }
      }
    }

    &__button {
      width: 100%;
      @include flex-c;

      input[type="button"] {
        width: 100px;
        height: 50px;
        border: 0px;
        border-radius: 6px;
        background-color: #FFBB77;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
      }
    }
  }
}

.footer {
  width: calc(100% - 100px);
  background-color: #FFBB77;
  padding: 50px 50px;

  &-title {
    font-size: 30px;
    color: #FFFFFB;
  }

  &-list {
    display: block;
    width: 100%;
    margin-top: 50px;
    flex-wrap: wrap;
    @include flex-jc-between;

    @include screen(mobile) {
      justify-content: center;
    }
  }

  &-router {
    display: block;
    width: calc(25% - 80px);
    min-width: 220px;
    height: 100px;
    margin: 10px 30px;
    background-color: #fff;
    padding: 0 5px;

    &_fb {
      border: 5px solid #3b5998;

      .footer-router__txt {
        color: #3b5998;
      }
    }

    &_ig {
      background:linear-gradient(right,#405DE6,#C13584);
      padding: 5px;
      width: calc(25% - 70px);
      min-width: 230px;

      .footer-router__box {
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        padding: 5px;
        background-color: #fff;
      }

      .footer-router__txt {
        color: #C13584;
      }
    }

    &_git {
      border: 5px solid #000;
      
      .footer-router__txt {
        color: #000;
      }
    }

    &_gmail {
      border: 5px solid #EA2D00;
      
      .footer-router__txt {
        color: #EA2D00;
      }
    }

    &__box {
      width: 100%;
      height: 100%;
      text-decoration: none;
      @include flex-c;
    }

    &__icon {
      width: 30px;
      height: 30px;
    }

    &__item {
      text-align: left;
      padding: 0 10px;
    }

    &__txt {
      font-size: 25px;

      &_little {
        font-size: 10px;
        color: #000;
      }
    }
  }
}

.title {
  display: block;
  padding: 0 20px 20px 20px;
  position: relative;
  height: 70px;

  &__txt {
    font-size: 15px;
    text-align: center;
    padding-bottom: 10px;
    font-family: 'antara';

    &_big {
      font-size: 35px;
      letter-spacing: 3px;

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 40px;
        height: 3px;
        left: 50%;
        margin-left: -30px;
        background: #FFBB77;
      }

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 40px;
        height: 3px;
        right: 50%;
        margin-right: -30px;
        background: #00AA90;
      }
    }

    &_en-big {
      font-size: 60px;
    }

    &_border {
      &:before {
        left: auto;
        top: -25px;
      }

      &:after {
        right: auto;
      }
    }
  }
}



@keyframes testHeightBorder {
  from{
      height: 100%;
  }

  to{
      height: 0;
  }
}

@keyframes testWidthBorder {
  from{
      width: 100%;
  }

  to{
      width: 0;
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    animation-timing-function: cubic-bezier(.215,.61,.355,1);
    transform: translateZ(0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(.755,.05,.855,.06);
    transform: translate3d(0,-30px,0);
  }
  
  70% {
    animation-timing-function: cubic-bezier(.755,.05,.855,.06);
    transform: translate3d(0,-15px,0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

@keyframes start {
  0% {
    width: 0%;
    opacity: 0;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes close {
  from {
    opacity: 1;
    z-index: 999;
  }

  to {
    opacity: 0;
    z-index: 1;
  }
}