body, html {
  height: 100%;
  width: 100%;
  position: relative;
}

.header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: block;
}

.header .nav {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 100px;
  height: 50px;
  width: calc(100% - 200px);
  z-index: 999;
  -webkit-transition: .5s;
  transition: .5s;
}

.header .nav_bgcolor {
  background-color: #0089A7;
}

.header .nav-logo {
  width: 100px;
  padding: 13px 0;
}

.header .nav-name {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.header .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 320px;
}

.header .nav-option {
  margin: 0 20px;
  position: relative;
  cursor: pointer;
  color: #fff;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.header .nav-option::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: #000;
  -webkit-transform: scalex(0);
          transform: scalex(0);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header .nav-option:hover::before {
  -webkit-transform: scalex(1);
          transform: scalex(1);
}

.header .start {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-animation: close .3s linear 1 both;
          animation: close .3s linear 1 both;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .start::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-animation: start 1s linear 1 both;
          animation: start 1s linear 1 both;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  background-color: #0089A7;
}

.header .start-txt {
  color: #fff;
  font-size: 20px;
  z-index: 1;
}

.header .fullscreen {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.header .down-box {
  position: absolute;
  bottom: 3%;
  left: 50%;
  z-index: 3;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url(../images/icons/download-white.svg);
  background-position: center;
  background-size: cover;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

.header .down-box .icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 10px;
  border: 3px solid #000;
}

.header .sliders {
  height: 100%;
  background-color: #9e9e9e;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.header .sliders-option {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: inherit;
  overflow: hidden;
  -webkit-transition: .6s;
  transition: .6s;
}

.header .sliders-option_show {
  opacity: 2;
}

.header .sliders-option_show .sliders-textbox {
  left: 200px;
  opacity: 2;
}

.header .sliders-option img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header .sliders .img-1 {
  background-image: url("../images/life/IMG_6218.JPG");
}

.header .sliders .img-2 {
  background-image: url("../images/life/IMG_9527.JPG");
}

.header .sliders-textbox {
  position: absolute;
  top: 150px;
  left: 100px;
  opacity: 0;
  -webkit-transition: .6s;
  transition: .6s;
}

.header .sliders-txt {
  color: #fff;
  font-size: 30px;
  padding-bottom: 10px;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.header .sliders-txt_bold {
  font-size: 40px;
  font-weight: bold;
}

.body {
  width: 100%;
  position: relative;
}

.about {
  padding: 50px 100px;
  width: calc(100% - 200px);
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.about_show .about-content {
  left: 100px;
  opacity: 1;
}

.about_show .about-img {
  opacity: 1;
  right: 100px;
}

.about-content {
  position: absolute;
  display: block;
  left: -500px;
  opacity: 0;
  -webkit-transition: .6s;
  transition: .6s;
  width: calc(100% - 500px);
}

.about-content-title {
  color: #000;
  font-size: 30px;
  font-weight: bold;
}

.about-content-txt {
  padding: 30px;
  line-height: 25px;
}

.about-img {
  display: block;
  position: absolute;
  right: -500px;
  opacity: 0;
  -webkit-transition: .6s;
  transition: .6s;
}

.about-img:before {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  right: -28px;
  top: -28px;
  border: 6px solid #0089A7;
  opacity: .5;
}

.about-img:after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  left: -28px;
  bottom: -28px;
  border: 6px solid #0089A7;
  opacity: .5;
}

.about-img img {
  width: 300px;
  height: 400px;
}

.experience {
  padding: 50px 100px;
  width: calc(100% - 200px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 1000px;
}

.experience_show .experience-content {
  right: 50px;
  opacity: 1;
}

.experience_show .experience-img {
  opacity: 1;
  left: 100px;
}

.experience-content {
  display: block;
  right: -500px;
  opacity: 0;
  -webkit-transition: .6s;
  transition: .6s;
  width: calc(100% - 600px);
  position: absolute;
}

.experience-content-title {
  color: #000;
  font-size: 30px;
  font-weight: bold;
}

.experience-content-title_little {
  font-size: 20px;
  line-height: 20px;
  padding: 10px 0;
}

.experience-content-txt {
  line-height: 25px;
  padding: 10px 10px;
  display: block;
}

.experience-content-txt_title {
  font-weight: bold;
  font-size: 20px;
  padding: 10px 0;
}

.experience-content-txt_left {
  padding: 10px 25px;
}

.experience-content-list {
  padding: 0 20px;
}

.experience-img {
  display: block;
  position: absolute;
  left: -500px;
  opacity: 0;
  -webkit-transition: .6s;
  transition: .6s;
}

.experience-img:before {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  right: -28px;
  top: -28px;
  border: 6px solid #0089A7;
  opacity: .5;
}

.experience-img:after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  left: -28px;
  bottom: -28px;
  border: 6px solid #0089A7;
  opacity: .5;
}

.experience-img img {
  width: 400px;
  height: 400px;
}

.slider {
  width: 50%;
  margin: 50px auto !important;
}

.slick-track {
  padding-bottom: 30px;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100px;
  height: 100px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: 1 !important;
}

.slick-current {
  opacity: 1;
}

.footer {
  width: calc(100% - 100px);
  height: 300px;
  background-color: #0089A7;
  padding: 50px 50px;
}

.footer-title {
  font-size: 30px;
  color: #FFFFFB;
}

.footer-list {
  display: block;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-router {
  width: 30px;
  height: 30px;
  margin: 0 30px;
}

.footer-router-icon1 {
  width: 30px;
  height: 30px;
}

.footer-router-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-router-email img {
  padding-right: 10px;
}

.footer-router-txt {
  font-size: 15px;
  color: #fff;
}

.footer-router-icon2 {
  width: 30px;
  height: 30px;
  display: none;
}

.footer-router:hover a > .footer-router-icon1 {
  display: none;
}

.footer-router:hover a > .footer-router-icon2 {
  display: block;
}

.blog {
  width: calc(100% - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px 50px;
}

.blog-item {
  height: 200px;
  width: 300px;
  border: 5px solid #0089A7;
  margin: 0 10px;
}

.skill {
  width: 100%;
  position: relative;
  background-color: #f5f5f5;
  padding: 100px 0;
}

.skill .event {
  position: relative;
}

.skill .all-btn {
  display: inline-block;
  text-align: center;
  padding: 10px;
  position: absolute;
  top: -10px;
  right: 100px;
}

.skill .all-btn:after {
  content: "";
  position: absolute;
  width: 20%;
  height: 2px;
  left: 50%;
  bottom: 10px;
  margin-left: -10%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
  background: #1e1109;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.skill .all-btn a {
  display: inline-block;
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.skill .all-btn a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  width: 2px;
  height: 100%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.skill .all-btn a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  width: 100%;
  height: 2px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.skill .all-btn a span {
  padding: 5px 15px;
  z-index: 1;
  position: relative;
  display: inline-block;
}

.skill .all-btn a span:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  background: #000;
  width: 2px;
  height: 100%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.skill .all-btn a span:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  background: #000;
  width: 100%;
  height: 2px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.skill .all-btn:hover:after {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.skill .all-btn:hover a:before, .skill .all-btn:hover span:before {
  -webkit-animation: testHeightBorder 0.5s ease;
          animation: testHeightBorder 0.5s ease;
  height: 0%;
}

.skill .all-btn:hover a:after, .skill .all-btn:hover span:after {
  -webkit-animation: testWidthBorder 0.5s ease;
          animation: testWidthBorder 0.5s ease;
  width: 0%;
}

.title {
  display: block;
  padding: 0 20px 20px 20px;
  position: relative;
  height: 70px;
}

.title-txt {
  font-size: 15px;
  text-align: center;
  padding-bottom: 10px;
}

.title-txt_big {
  font-size: 35px;
  letter-spacing: 3px;
}

.title-txt_big:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 3px;
  left: 50%;
  margin-left: -30px;
  background: #0089A7;
}

.title-txt_big:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 3px;
  right: 50%;
  margin-right: -30px;
  background: #00AA90;
}

.title-txt_border:before {
  left: auto;
  top: -25px;
}

.title-txt_border:after {
  right: auto;
}

.works {
  position: relative;
  margin-top: 60px;
}

.works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.works-list::before {
  display: table;
}

.works-list-box {
  background: #fff;
  border-bottom: 2px solid #0089A7;
  position: relative;
  width: 500px;
  margin: 0 20px;
  margin-bottom: 40px;
  cursor: pointer;
}

.works-list-box .works-list-item {
  color: #000;
}

.works-list-box .works-list-item .default {
  position: relative;
  z-index: 10;
  -webkit-transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.works-list-box .works-list-item .default img {
  line-height: 1;
  font-size: 0;
  height: 300px;
  width: 500px;
}

.works-list-box .works-list-item .hover {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.works-list-box .works-list-item .hover img {
  line-height: 1;
  font-size: 0;
  height: 300px;
  width: 500px;
}

.works-list-box .works-list-item .text-box {
  width: calc(100% - 20px);
  padding: 10px;
}

.works-list-box .works-list-item .text-box-content {
  font-size: 20px;
  padding: 20px 0;
}

.works-list-box .works-list-item .text-box-txt {
  font-size: 15px;
  color: #636363;
}

.works-list-box:hover .works-list-item .default {
  opacity: 0;
}

.works-list-box:hover .works-list-item .hover {
  opacity: 1;
}

@-webkit-keyframes testHeightBorder {
  from {
    height: 100%;
  }
  to {
    height: 0;
  }
}

@keyframes testHeightBorder {
  from {
    height: 100%;
  }
  to {
    height: 0;
  }
}

@-webkit-keyframes testWidthBorder {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes testWidthBorder {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
            transform: translate3d(0, -4px, 0);
  }
}

@-webkit-keyframes start {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes start {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@-webkit-keyframes close {
  from {
    opacity: 1;
    z-index: 999;
  }
  to {
    opacity: 0;
    z-index: 1;
  }
}

@keyframes close {
  from {
    opacity: 1;
    z-index: 999;
  }
  to {
    opacity: 0;
    z-index: 1;
  }
}
/*# sourceMappingURL=creation.css.map */